#global-content fieldset legend {
    margin-bottom: 16px;
}

.dojoTabPaneWrapper {
  width:98%;
  height: auto;
  overflow: hidden;
}
.dojoAccordion  {
  width:98%;
  overflow: hidden;
}
.dojoContentPane,
.dojoTabPane{
  height: auto;
  overflow: scroll;
}
#left_container fieldset {
width:500px;
}
